.create-project-dialog-wrapper {
    padding: 1rem;

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .error {
        color: #e57373;
    }
}