:root {
  height: 100%;
}

.projects-panel {
  padding: 2rem 1rem;
  padding-top: 4rem;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .create-project-button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 32px;
  }

  .projects-table {
    width: 100%;
    background: var(--mat-sys-background);
    color: #fff;
    border-radius: 8px;
    border: 2px solid var(--mat-sys-outline);
  }

  .mat-header-cell,
  .mat-cell {
    padding: 0.75rem 1rem;
  }

  .mat-header-row {
    background: #23202a;
  }

  .mat-row {
    background: #18141a;
  }

  .mat-button {
    margin-right: 0.5rem;
  }

  .action-button {
    &:hover {
      .mat-icon {
        fill: var(--mat-sys-primary);
      }
    }
  }
}