.cp-root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  user-select: none;
}

.cp-wheel {
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 50%;
  border: 0.125rem solid var(--mat-sys-outline);
  cursor: crosshair;
}

.cp-lum {
  width: 11.25rem;
  height: 1rem;
  border-radius: 0.125rem;
  border: 0.125rem solid var(--mat-sys-outline);
  cursor: ew-resize;
}