:host {
    margin: auto;
}

.auth-container {
    padding: 1rem;
    max-width: fit-content;
    border: 0.125rem solid var(--mat-sys-primary);

    form {
        width: 18.75rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .action-button {
        margin-bottom: 1rem;
    }
}