.three-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: #dedede;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.editor-action-buttons {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;

  button {
    height: 2rem;
  }
}