@use 'material-palette' as palette;

.toggle-btn {
	display: block;
	width: 32px;
	height: 32px;
	position: fixed;
	top: 1rem;
	left: 1rem;
	cursor: pointer;
	z-index: 999;
	background: none;
	border: none;

	span {
		display: block;
		position: relative;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		transition: all 0.2s ease;
		background-color: palette.$white;
		opacity: 90%;
		margin-top: 22%;
		margin-top: calc(33% - 2px);
		top: calc((33% - 2px) / -2);
	}

	&.toggled {
		span {
			&:nth-child(1) {
				top: calc(50% - 33% - 2px);
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				top: calc(-50% + 2px);
				transform: rotate(-45deg);
			}
		}
	}
}

.navbar-panel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background: palette.$gray-900;
	color: palette.$white;
	width: 220px;
	transition: width 0.2s, left 0.2s;
	z-index: 99;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);

	&.hidden {
		width: 0;
		overflow: hidden;
		left: -220px;
	}

	.nav-links {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		margin-top: 4rem;

		li {
			margin: 0.5rem 0;
		}

		a {
			display: flex;
			align-items: center;
			color: #fff;
			text-decoration: none;
			padding: 0.75rem 1.5rem;
			border-radius: 4px 0 0 4px;
			transition: background 0.2s;

			&.active, &:hover {
				background: #444;
			}
		}
	}

	.label {
		font-size: 1rem;
		// Add any additional styles for the label here
	}
}