<ng-container *ngIf="isAuthenticated()">
	<button class="toggle-btn" [class.toggled]="expanded()" (click)="toggle()" aria-label="Toggle navbar">
		<span></span>
		<span></span>
		<span></span>
	</button>
	<button color="primary" (click)="toggleTheme()" class="mode-toggle-btn">
		<mat-icon svgIcon="{{ themeService.currentTheme === 'dark' ? 'dark-mode' : 'light-mode' }}" class="nav-icon" aria-hidden="true"></mat-icon>
	</button>
	<nav class="navbar-panel" [class.expanded]="expanded()" [class.hidden]="!expanded()">
		<ul class="nav-links">
			<li *ngFor="let link of navLinks">
				<a [routerLink]="link.route" routerLinkActive="active" [attr.aria-label]="link.label">
					<span class="label" *ngIf="expanded()">{{ link.label }}</span>
					<mat-icon svgIcon="{{ link.icon }}" class="nav-icon" aria-hidden="true"></mat-icon>
				</a>
			</li>
		</ul>
		<button mat-button color="accent" (click)="logout()" class="full-width logout-button">
			<span>Logout</span>
			<mat-icon svgIcon="logout" class="nav-icon" aria-hidden="true"></mat-icon>
		</button>
	</nav>
</ng-container>